{% extends 'layout.html' %}
{% block content %}
  <h2>{{ 'Edit' if edit else 'Add' }} Patient</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.name.label }}{{ form.name(class_='form-control') }}</div>
    <div class="form-row">
      <div class="form-group col-md-2">{{ form.age.label }}{{ form.age(class_='form-control') }}</div>
      <div class="form-group col-md-3">{{ form.gender.label }}{{ form.gender(class_='form-control') }}</div>
      <div class="form-group col-md-7">{{ form.contact.label }}{{ form.contact(class_='form-control') }}</div>
    </div>
    <div class="form-group">{{ form.address.label }}{{ form.address(class_='form-control') }}</div>
    <div class="form-group">{{ form.parentname.label }}{{ form.parentname(class_='form-control') }}</div>
    <div class="form-group">{{ form.parentnumber.label }}{{ form.parentnumber(class_='form-control') }}</div>
    <div class="form-group">{{ form.cause.label }}{{ form.cause(class_='form-control') }}</div>
    <button class="btn btn-primary">Save</button>
  </form>
{% endblock %}
